<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="/timer_styles.css">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
  
  </head>
<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="navbar-brand" href="/"><img class="nav-img" src="/tomato.png" alt="Tomato"/>No Time like Tomato</div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pull-right justify-content-end" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">

          <a class="nav-link" href="/timer_page">Timer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/view_categories">Category<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/view_tasks">Tasks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/view_account">Account</a>

        </li>
      </ul>
    </div>
  </nav>