<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Categories</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/timer_styles.css">
  <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16" />
  
  <style>
    .form-control {max-width: 400px;}
    .btn-primary {width: auto;}
    .taskTime {width: 90px;}
  </style>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/signin"><img class="nav-img" src="/static/tomato.png" alt="Tomato"/>No Time like Tomato</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pull-right justify-content-end" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/timer_page">Timer</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/view_categories">Category<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/view_tasks">Tasks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/view_account">Account</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container pt-5">
    <h1>Categories</h1>

    <form onsubmit="return false">
      <div class="form-row">
        <div class="form-group col-md-6 p-5">
          <label for="category" class="pt-5"> Create a new Category</label>
          <input type="text" class="form-control" name="category_name" id="category" placeholder="Enter a new Category here">
          <button type="submit"  id="create_category" class="btn btn-primary d-block mt-3">Create Category</button>
        </div>
        <div class="col-md-4 p-5">
          <table class="table" id="category_table">
            <thead>
              <tr>
                <th scope="col">Categories</th>
              </tr>
            </thead>
            <!-- This table is filled in via JavaScript -->
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>

  <!-- Graphics: -->
  <div class="container">
    <h2>What You've Worked On</h2>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <canvas id="chart1"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <canvas id="chart2"></canvas>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered" id="goals_met">
          <thead>
            <tr>
              <th>Category</th>
              <th>Goals Met</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td hidden>
                <i hidden id="check_mark" title="Goal Met" class="fa fa-2x fa-check-circle" style="color: #0F9D58;"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="/static/category.js"></script>
<script src="/static/categories.js"></script>
</body>
</html>