<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <style>
    .form-control {max-width: 400px;}
    .btn-primary {width: auto;}
    .taskTime {width: 90px;}
  </style>

  </head>
<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">No Time like Tomato</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pull-right justify-content-end" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="timer.html">Timer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="category.html">Category</a>
      </li>
        
        <li class="nav-item active">
            <a class="nav-link" href="tasks.html">Tasks<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="account.html">Account</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container" style="padding-bottom: 20%; font-size: large;"> 
    <h1>Tasks</h1>
    <form onsubmit="return false" >
      <div class="form-row">
        <div class="form-group col-md-6">
          
          <label for="category" class="pt-5"> Select Category</label>
          <select id="category_list" class="form-control">
          </select>
        </div>
      </div>
      
      <div class="form-row ">
        <div class="form-group col-md-6">
          <label for="taskName" class="pt-4">Task name</label>
          <input type="text" class="form-control" id="task_name" placeholder="Enter a task">
          <label for="taskGoal" class="pt-4 d-block">Task Goal</label>
          <input type="number" min="0" class=" d-inline taskTime" id="task_hours" placeholder="Hours">
          <input type="number" min="0" class=" d-inline taskTime" id="task_minutes" placeholder="Minutes" >
            <label for="taskNotes" class="pt-3 d-block">Task Notes</label>
            <textarea class="form-control" id="task_description" rows="3"></textarea>
            <label for="submit" class="pt-3"> Now create your task!</label>
            <button type="submit" id="create_task" class="btn btn-primary d-block">Create Task</button>
        </div>
        
        <div class="col-md-6">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Category</th>
                <th scope="col">Task</th>
                <th scope="col">Goal Time</th>
                <th scope="col">Time Accrued</th>
                <th scope="col">Goal Met</th>
              </tr>
            </thead>
            <tbody id="table_body">
              
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
    

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../public/tasks.js"></script>
<script>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
</body>
</html>