:root {    
    --timer-width: 250px;
    --dropdown-width: 200px;
    --header-height: 35px;
    --timer-container-color: #bbbbbb;
    --timer-container-running-color: #b0d1c8;
    --timer-complete-color: #5efc9a;
    --timer-bg-color: #ffffff;
    --countdown-bar-bg-color: #dddddd;
    --countdown-fill-width: 20%;
    --countdown-fill-color: #5efc9a;
    --dropdown-bg-color-highlight: #dddddd;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: bold;
}

/* TIMER CONTAINER */
div.timer-container {
    border: 4pt solid var(--timer-container-color);
    border-radius: 6pt;
    width: var(--timer-width);
    text-align: center;
    background-color: var(--timer-bg-color);
    z-index: 4;
}

/* Running: */
div.timer-container.running {
    border: 4pt solid var(--timer-container-running-color);
}

/* Complete: */
div.timer-container.complete {
    border: 4pt solid var(--timer-complete-color);
}


/* TIMER HEADER */
div.timer-header {
    height: var(--header-height);
    background-color: var(--timer-container-color);
}

/* Running: */
div.timer-container.running > div.timer-header,
div.timer-container.running > div.timer-header > div > select.task-dropdown-select {
    background-color: var(--timer-container-running-color);
}

/* Complete: */
div.timer-container.complete > div.timer-header,
div.timer-container.complete > div.timer-header > div > select.task-dropdown-select {
    background-color: var(--timer-complete-color);
}




div.break-header-item {
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HIDE NON-RELAVENT HEADER ITEMS */
div.task-timer > div.timer-header > div.break-header-item {
    display: none;
    height: 0;
}

div.break-timer > div.timer-header > div.task-header-item {
    display: none;
    height: 0;
}


/* DROP DOWN AS SELECT      **But want to display Category too**  */
select.task-dropdown-select {
    /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
    /* -ms-appearance: none; */
    /* -o-appearance: none; */
    /* appearance: none; */
    border: none;
    outline: none;
    box-shadow: none;
    color: #000000;
    background-color: var(--timer-container-color);
    overflow: hidden;
    height: var(--header-height);
    width: 100%;
    font-weight: bold;
    font-size: 12pt;
    text-align: left;
}

/* DROPDOWN OPTION GROUPS */
optgroup.task-dropdown-optgroup {
    background-color: var(--dropdown-bg-color-highlight);
    font-weight: bold;
}

/* DROPDOWN OPTIONS */
option.task-dropdown-option {
    background-color: #FFFFFF;
    font-weight: normal;
}


/* COUNTDOWN */
.countdown-bar {
    position: relative;
    height: 60px;
    margin: 0.7em 0;
    background-color: var(--countdown-bar-bg-color);
    z-index: 1;
}

/* Visual fill background bar: */
.countdown-fill {
    position: absolute;
    content: "";
    height: 60px;
    width: var(--countdown-fill-width);
    background-color: var(--countdown-fill-color);
    z-index: 2;
}

/* COUNTDOWN TIME */
.countdown-time {
    position: relative;
    height: 60px;
    font-size: 34pt;
    font-weight: bold;
    z-index: 3;
    padding: 0.1em;
}

/* HIDDEN */
div.hidden {
    display: none;
    pointer-events: none;
}

div.hidden > * {
    display: none;
    pointer-events: none;
}

/* TIMER BUTTONS */
div.timer-buttons-container {
    padding: 0 0 0.5em;
}



/* EDIT DURATION Container */
div.edit-duration-container {
    padding: 0 0 1em;
}

/* Edit Dur Inputs Container */
div.edit-duration-container > #edit-duration-inputs {
    margin: 0.5em 0 0;
}

/* Unit Labels For Set/Edit Time Inputs */
label.set-unit-labels {
    font-size: 10pt;
    /* font-weight: normal; */
    padding: 0 0.5em 0 0;
    margin: 0;
}


/* All timer buttons: */
button.timer-button {
    min-width: 55px;
}

button.timer-button#timer-set {
    min-width: 40px;
    width: 40px;
}
