:root {    
    --timer-width: 250px;
    --header-height: 35px;
    --timer-container-color: #6c757d;
    --timer-container-running-color: #DB4437;
    --timer-bg-color: #ffffff;
    --countdown-bar-bg-color: #dddddd;
    --countdown-fill-width: 0%;
    --countdown-fill-color: #00f17d;
    --timer-warning: #d13834;
    --break-warning: #88c057;
}


/* TIMER CONTAINER */
div.timer-container {
    padding: 0 0 5px;
    border: 6pt solid var(--timer-container-color);
    border-radius: 8pt;
    width: var(--timer-width);
    text-align: center;
    background-color: var(--timer-bg-color);
    z-index: 4;
}

/* TIMER HEADER */
div.timer-header {
    width: 100%;
    height: var(--header-height);
    background-color: var(--timer-container-color);
    color: white;
    border: none;
    outline: none;
}

/* Running: */
div.timer-container.running {
    border: 6pt solid var(--timer-container-running-color);    
}

div.timer-container.running > div.timer-header {
    background-color: var(--timer-container-running-color);
    color: #FFFFFF;
}

/* HIDE NON-RELAVENT HEADER ITEMS */
div.task-timer > div.break-header {
    display: none;
    height: 0;
}
div.break-timer > div.task-header {
    display: none;
    height: 0;
}


/* COUNTDOWN */
.countdown-bar {
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    height: 60px;
    width: 100%;
    margin: 15px 0;
    background-color: var(--countdown-bar-bg-color);
    z-index: 1;
}

/* Visual fill background bar: */
.countdown-fill {
    grid-row-start: 1;
    grid-column: 1 / 1;
    content: "";
    height: 60px;
    width: var(--countdown-fill-width);
    background-color: var(--countdown-fill-color);
    z-index: 2;
}

/* COUNTDOWN TIME */
.countdown-time {
    grid-row-start: 1;
    grid-column: 1 / 1;
    height: 60px;
    line-height: 50px;
    font-size: 48pt;
    font-weight: normal;
    z-index: 3;
}

/* HIDDEN */
div.hidden, 
div.hidden > * {
    display: none;
    pointer-events: none;
}

/* BUTTONS */
.timer-button {
    margin: 0 0 10px;
}



/* INDIVIDUAL PAGE ELEMENTS */
/* Light-Dark */
/* #FFACAA, #D46D6A, #AA3C39, #801815, #550200 */
.form-control {
    max-width: 400px;
}

.btn-primary {
    width: auto;
    background-color: #801815!important;
    border-color: #801815!important;
}
.btn-primary:hover {
    background-color: #550200!important;
    border-color: #550200!important;
}
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(170,60,57,.5)!important;
}
.taskTime {
    width: 90px;
}
.signIn {
    margin: 0 auto;
}
#noAccount {
    margin-top: 30px
}
.bg-light {
    background-color: #ffacaa!important;
    margin-bottom: 50px;
}
.timer-warning {
    background-color: var(--timer-warning)!important;
}
.break-warning {
    background-color: var(--break-warning)!important;
}
.centered {margin: 0 auto;}

.nav-img {height: 50px; margin-right: 15px;}

.form-control:focus {
    border-color: #D46D6A!important;
    box-shadow: 0 0 0 0.2rem rgba(212, 109, 106, .25)!important;
}
.tiny-form {display: inline; max-width: 65px;}