:root {    
    --timer-width: 250px;
    --dropdown-width: 200px;
    --header-height: 35px;
    --timer-container-color: #6c757d;
    --timer-container-running-color: #DB4437;
    --timer-bg-color: #ffffff;
    --countdown-bar-bg-color: #dddddd;
    --countdown-fill-width: 0%;
    --countdown-fill-color: #00f17d;
}


/* TIMER CONTAINER */
div.timer-container {
    padding: 0 0 5px;
    border: 4pt solid var(--timer-container-color);
    border-radius: 6pt;
    width: var(--timer-width);
    text-align: center;
    background-color: var(--timer-bg-color);
    z-index: 4;
}

/* TIMER HEADER */
div.timer-header,
select.task-dropdown-header {
    width: 100%;
    height: var(--header-height);
    background-color: var(--timer-container-color);
    color: white;
    border: none;
    outline: none;
}

/* Running: */
div.timer-container.running {
    border: 4pt solid var(--timer-container-running-color);    
}

div.timer-container.running > div.timer-header,
div.timer-container.running > select.task-dropdown-header {
    background-color: var(--timer-container-running-color);
    color: #FFFFFF;
}

/* BREAK HEADER */
div.break-header {
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HIDE NON-RELAVENT HEADER ITEMS */
div.task-timer > div.break-header {
    display: none;
    height: 0;
}
div.break-timer > select.task-dropdown-header {
    display: none;
}


/* COUNTDOWN */
.countdown-bar {
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    height: 60px;
    width: 100%;
    margin: 15px 0;
    background-color: var(--countdown-bar-bg-color);
    z-index: 1;
}

/* Visual fill background bar: */
.countdown-fill {
    grid-row-start: 1;
    grid-column: 1 / 1;
    content: "";
    height: 60px;
    width: var(--countdown-fill-width);
    background-color: var(--countdown-fill-color);
    z-index: 2;
}

/* COUNTDOWN TIME */
.countdown-time {
    grid-row-start: 1;
    grid-column: 1 / 1;
    height: 60px;
    line-height: 50px;
    font-size: 48pt;
    font-weight: normal;
    z-index: 3;
}

/* HIDDEN */
div.hidden, 
div.hidden > * {
    display: none;
    pointer-events: none;
}

/* BUTTONS */
.timer-button {
    margin: 0 0 10px;
}

/* EDIT DURATION INPUTS */
div.edit-dur-row,
div.edit-dur-row > .col {
    padding: 0;
    margin: 0;
    min-height: 10px;
}

div.edit-dur-row > .col > .form-group {
    margin: 4px;
}


label.set-unit-labels {
    font-size: 10pt;
    font-weight: bold;
    padding: 0;
    margin: 0;
}